@model CarsStore.UI.Models.ReportViewModels.SalesReportViewModel

@section Scripts {
    <script src="@Url.Content("~/Scripts/ViewScripts/GetSalesReport.js")"></script>
}
@{
    ViewBag.Title = "Sales";

}

<h2>Sales Reports</h2>

<div class="outline">
    <div class="row">
        <div class="col-sm-12 ">
            <p class="font-weight-bold">Filters</p>


            <div class="row">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-3 sales-report-label-user">
                            <label class="font-weight-bold">User</label>
                        </div>
                        <div class="col-9">
                            @Html.DropDownListFor(m => m.SalesName, Model.SalesList, "- All - ", new { id = "salesName", @class="form-control" })
                        </div>
                    </div>
                </div>




                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-3  sales-report-label">

                            <label class="font-weight-bold">From Date</label>
                        </div>
                        <div class="col-9">
                            @Html.TextBoxFor(m => m.MinDate, new { @class = "form-control", id = "minDate", type = "date" })

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-3  sales-report-label">

                            <label class="font-weight-bold">To Date</label>
                        </div>
                        <div class="col-9">
                            @Html.TextBoxFor(m => m.MaxDate, new { @class = "form-control", id = "maxDate", type = "date" })

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">

                    <button type="submit" class="btn btn-primary report-btn">Search</button>


                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>User</td>
                    <td>Total Sales</td>
                    <td>Total Vehicles</td>
                </tr>
            </thead>
            <tbody></tbody>


        </table>

    </div>


</div>
