@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @if (User.IsInRole("Sales"))
    {
        <li class="nav-item"><a href="/Sales/Index" class="nav-link nav-last">Sales</a></li>
    }

    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item"><a href="/Sales/Index" class="nav-link">Sales</a></li>
        @*<li class="nav-item"><a href="/Admin/Users" class="nav-link nav-last">Admin</a></li>*@
        <li class="nav-item">
            <div class="dropdown show">
                <a class=" dropdown-toggle" href="#" role="button" class="nav-link nav-last" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/Admin/Vehicles">Vehicles</a>
                    <a class="dropdown-item" href="/Admin/Makes">Makes</a>
                    <a class="dropdown-item" href="/Admin/Models">Models</a>
                    <a class="dropdown-item" href="/Admin/Specials">Specials</a>
                    <a class="dropdown-item" href="/Admin/Users">All Users</a>
                    <a class="dropdown-item" href="/Admin/AddUser">Add User</a>
                    <a class="dropdown-item" href="/Reports/Index">Reports</a>
                </div>
            </div>
            </li>
            }
<li class="nav-item">
        Hello @User.Identity.GetUserName()! &nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}